# Preprocesado de imagenes

In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import os

In [108]:
#1 de todo hay que añadir las carpetas train y test de este link https://www.kaggle.com/datasets/jonathanbesomi/rsna-miccai-png
# dentro de una carpeta llamada 'data' en el directorio principal del proyecto

#Aqui cargo las fotos del train y del test

path='data/train'

images=[]
pacientes=[]
list_directorios=[folder[1] for folder in os.walk(path)]
for paciente in list_directorios[0]:
    fotos_paciente=[folde[2] for folde in os.walk(f'{path}/{paciente}/FLAIR')]
    if len(fotos_paciente)==0:
        continue
    for foto in fotos_paciente[0]:
        images.append(mpimg.imread(f"{path}/{paciente}/FLAIR/{foto}"))
        pacientes.append(paciente)
        
path='data/test'
images_t=[]
pacientes_t=[]
list_directorios=[folder[1] for folder in os.walk(path)]
for paciente in list_directorios[0]:
    fotos_paciente=[folde[2] for folde in os.walk(f'{path}/{paciente}/FLAIR')]
    if len(fotos_paciente)==0:
        continue
    for foto in fotos_paciente[0]:
        images_t.append(mpimg.imread(f"{path}/{paciente}/FLAIR/{foto}"))
        pacientes_t.append(paciente)

In [118]:
# Creo un df con el id del paciente y la fotos
# (cada fila es una foto, un paciente tiene muchas filas por lo tanto)

#TRAIN
images_df=pd.DataFrame()
images_df['Pacientes']=pacientes
images_df['Imagenes']=images
images_df

#TEST

      Pacientes                                           Imagenes
0         00658  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
1         00658  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
2         00658  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
3         00658  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
4         00658  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
...         ...                                                ...
53677     00081  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
53678     00081  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
53679     00081  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
53680     00081  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
53681     00081  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...

[53682 rows x 2 columns]

In [150]:
# elimino todas las fotos que tengan un % blanco menor al 0.04, con esto eleminamos las fotos que son mayoritariamente negras

imdf=pd.DataFrame(images_df['Imagenes'])
images_df['%Blanco']=imdf.applymap(lambda x: np.mean(x))['Imagenes']
images_df=images_df[images_df['%Blanco']>=0.04]
images_df=images_df.reset_index().drop(columns=['index'])
images_df

# El df images_df esta listo para entrenar sobre el

                                                Imagenes
0      [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
1      [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
2      [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
3      [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
4      [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
...                                                  ...
53677  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
53678  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
53679  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
53680  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
53681  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...

[53682 rows x 1 columns]